<link rel="stylesheet" href="/css/index.css">

<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">Smart Living Controls</h1>
		<p class="lead">For your everyday needs</p>
	</div>
	<br>
</div>