body {
    background-image: url(spaceback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em 2em;
    font-size: 18px;
}

h1 {
    color: cyan;
    font-size: 50px;
}

#current {
    position: absolute;
    top: 130px;
    left: 200px;
}

#history {
    position: absolute;
    top: 130px;
    left: 600px;
    font-size: 70px;
    color: orange;
}

#aircon {
    position: absolute;
    top: 150px;
    left: 1100px;
    background-color: red;
    height: 8%;
    width: 15%;
    font-size: 30px;
}

#aclist {
    position: absolute;
    top: 320px;
    left: 200px;
}

#tableinfo {
    color: black;
    font-size: 40px;
    position: absolute;
    left: 500px;
    top: 250px;
    background-color: white;
    opacity: 0.7;
}

#tableinfo tr td {
    padding: 10px 30px;
}

#tableinfo tr th {
    padding: 10px 30px;
}