body {
    background-image: url(spaceback.jpg);
    background-repeat: repeat;
    background-size: cover;
    padding: 1em 2em;
    font-size: 18px;
}

#history {
    position: absolute;
    top: 130px;
    left: 580px;
    font-size: 70px;
    color: orange;
}

#aircon {
    position: absolute;
    top: 150px;
    left: 248px;
    background-color: orange;
    height: 8%;
    width: 15%;
    font-size: 30px;
    border-radius: 10px;
}

#airconDelete {
    position: absolute;
    top: 150px;
    left: 1065px;
    background-color: red;
    height: 8%;
    width: 15%;
    font-size: 30px;
    border-radius: 10px;
}

#tableinfo {
    color: black;
    font-size: 40px;
    position: absolute;
    left: 250px;
    top: 250px;
    background-color: white;
    opacity: 0.7;
}

#tableinfo tr td {
    padding: 10px 30px;
}

#tableinfo tr th {
    padding: 10px 30px;
}