body {
	background-image: url(spaceback.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1em 2em;
    font-size: 18px;
}

#cControl {
	bottom: 100px;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
.dropdown {
	position: relative;
	display: inline-block;
}
  
.content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.content option {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.content option:hover {background-color: #f1f1f1}
  
.dropdown:hover .content {
	display: block;
}
  
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

#box img {
	width: 100px;
	height: 100px;
	margin: 5px;
}

#box {
	width: 750px;
	height: 120px;
	background-color: green;
	margin: auto;
	border-radius: 20px;
	text-align: center ;
	position: absolute;
	top: 500px;
	left: 390px;
}

#open {
	position: absolute;
	left: 120px;
}

#half {
	position: absolute;
	left: 310px;
}

#covered {
	position: absolute;
	left: 500px;
}

#box ul {
	padding: inherit;
}

#box img:hover {
	border: 5pxbsolid black;
}

#SelectedPosition {
	width: 400px;
	height: 350px;
	display: block;
	margin: auto;
}

label {
	color: white;
}

#left {
	position: absolute;
}

#right {
	position: absolute;
	left: 1300px;
}

#setCurtain {
	position: absolute;
	left: 620px;
	top: 650px;
	width: 8%;
	height: 8%;
	background-color: orange;
}

#hist {
	position: absolute;
	left: 800px;
	top: 650px;
	width: 10%;
	height: 8%;
	background-color:red;
}

#left2 {
	color: cyan;
	font-size: 50px;
	position: absolute;
	bottom: 150px;
	font-weight: bold;
}

#right2 {
	color: cyan;
	font-size: 50px;
	position: absolute;
	bottom: 150px;
	font-weight: bold;
	left: -130px;
}

#leftform {
	position: absolute;
	background-color: orange;
	font-size: 50px;
	width: 500%;
	bottom: 60px;
	left: 35x;
}

#rightform {
	position: absolute;
	background-color: orange;
	font-size: 50px;
	width: 500%;
	bottom: 60px;
	left: -85px;
}