body {
    background-image: url(spaceback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em 2em;
}
.left-side .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    display: flex;
}

.left-side {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 225, 0.10));
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
    transition: all .2s ease-in-out;
  text-transform: uppercase;
  filter: grayscale(80%);
  height: 500px;
}
 
.right-side {
    background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(164, 222, 102, 0.10)), url(../css/cAmbience.gif);
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
    transition: all .2s ease-in-out;
  text-transform: uppercase;
  filter: hue-rotate(90deg);
  height: 500px;
}
.left-side:hover, .right-side:hover {
    transform: scale(0.95);
  filter: hue-rotate(-90deg);
}
.container h1 {
    letter-spacing: 2px;
    font-family: 'Francois One', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
}
#myBox {
    width: 100%;
    border: solid 20px #0099cc;
    height: 420px;
    padding-top: 65px;
    margin-top: 90px;	
    background-color: #000;
    text-align: center;
    font-family: monospace, sans-serif;
	font-size: 20px;
    max-width: 30em;
	margin: 0 auto;
	color: #fff;
}
#time {
    font-size: 65px;
    margin-top: -65px;
    color:  #33adff;
}
h3 {
    color: #99cc00;
    margin-top: -20px;
    margin-bottom: 10px;
}
#mySelect {
    margin-top: 10px;
    margin-bottom: 35px;
    width: 125px;
    font-size: 20px;
    padding: 2px;
    border-radius: 3px;
    font-weight: bold;
    color: #cc0052;
}
#mySetButton, #myClearButton {
    border-radius: 10px;
    font-weight: bold;
    background-color: #d3d5cc;
}
#mySetButton:hover {
    background-color: #b4b4b2;
}
#myClearButton:hover {
    background-color: #b4b4b2;
}
#alarmHrs, #alarmMins, #alarmSecs {
    width: 55px;
    padding-left: 4px;
    font-size: 15px;
    margin-top: -10px;
}

@media only screen and (max-width: 600px) {
    button {
    margin-left: 2px;
        margin-right: 4px;
    }
    #time {
        font-size: 45px;
    }
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
