body {
    background-image: url(spaceback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em 2em;
}
.left-side .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    display: flex;
}
div {
    flex-direction: column;
    justify-content: center;
}
 
.left-side {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 225, 0.10)), url(../css/clock.gif);
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
    transition: all .2s ease-in-out;
  text-transform: uppercase;
  filter: grayscale(80%);
  height: 500px;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
 
.right-side {
    background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(164, 222, 102, 0.10)), url(../css/cAmbience.gif);
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
    transition: all .2s ease-in-out;
  text-transform: uppercase;
  filter: hue-rotate(90deg);
  height: 500px;
}
.left-side:hover, .right-side:hover {
    transform: scale(0.95);
  filter: hue-rotate(-90deg);
}
.container h1 {
    letter-spacing: 2px;
    font-family: 'Francois One', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
}
.button {

}
.button .active {
    filter: sepia(100%);
}
