body{
    background-image: url(spaceback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 18px;
}
h1 {
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 4.5em; 
    text-align: center;
    color: rgb(0, 195, 255);
}
.curtain_buttons_groups{
    margin-left: auto;
    margin-right: auto;
}

.curtain_button {
    width: 50%;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.time {
    
}
.ambience {

}