body{
    background-image: url(bright.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.home_buttons_groups{
    margin-left: auto;
    margin-right: auto;
}

.home_button {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

button#airCon {
    border-radius: 30px;
    background-image:url(icon\ back.jpg);
    background-position:top center;
}

button#cctv {
    border-radius: 30px;
    background-image:url(icon\ back.jpg);
    background-position:top center;
}

button#curtain {
    border-radius: 30px;
    background-image:url(icon\ back.jpg);
    background-position:top center;
}

button#lights {
    border-radius: 30px;
    background-image:url(icon\ back.jpg);
    background-position:top center;
}
