<link rel="stylesheet" href="css/login.css"> 
<body>
<div class="loginbox">
<img id="avatar" src="../images/user.png">
	<h1>Account Login</h1>
		<form method="post" action="../user/login"> 
			<label for="email">Email</label>
			<input type="email" id="email" name="email" placeholder="Email" required value="{{email}}">

			<label for="password">Password</label>
			<input type="password" id="password"name="password" placeholder="Password" required value="{{password}}">

			<input type="submit" value="Log In">
		</form>
</div>
</body>
