<link rel="stylesheet" href="css/achistory.css">

<div>
    <h1 id="current">Aircon #1</h1>
</div>

<div>
    <h1 id="history">History Logs</h1>
</div>

<div>
    <form action="/aircon">
        <input type="submit" id="aircon" value="Back" />
    </form>
</div>

<div id="aclist">
    <div id="ac1">
        <h1>
            Aircon #1
        </h1>
    </div>
    <div id="ac2">
        <h1>
            Aircon #2
        </h1>
    </div>
    <div id="ac3">
        <h1>
            Aircon #3
        </h1>
    </div>
    <div id="ac4">
        <h1>
            Aircon #4
        </h1>
    </div>
    <div id="ac5">
        <h1>
            Aircon #5
        </h1>
    </div>
</div>

<div id="info">
    <div>
        <h1 id="date">Date</h1>
    </div>

    <div>
        <h1 id="time">Time</h1>
    </div>

    <div>
        <h1 id="duration">Duration</h1>
    </div>

    <div>
        <h1 id="temp">Temp</h1>
    </div>

    <div>
        <h1 id="fanspd">Fan Spd</h1>
    </div>
</div>