<link rel="stylesheet" href="/css/achistory.css">

<div>
    <h1 id="current">Aircon #1</h1>
</div>

<div>
    <h1 id="history">History Logs</h1>
</div>

<div>
    <form action="/aircon">
        <input type="submit" id="aircon" value="Back" />
    </form>
</div>

<div id="aclist">
    <div id="ac1">
        <h1 onclick="changeaircon()">
            Aircon #1
        </h1>
    </div>
    <div id="ac2">
        <h1 onclick="changeaircon2()">
            Aircon #2
        </h1>
    </div>
    <div id="ac3">
        <h1 onclick="changeaircon3()">
            Aircon #3
        </h1>
    </div>
    <div id="ac4">
        <h1 onclick="changeaircon4()">
            Aircon #4
        </h1>
    </div>
    <div id="ac5">
        <h1 onclick="changeaircon5()"> 
            Aircon #5
        </h1>
    </div>
</div>

<div>
    <table id="tableinfo">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Temp</th>
            <th>Fan Speed</th>
        </tr>
        {{#if DataInfo}}
        {{#each DataInfo}}
        <tr>
            <td>{{date}}</td>
            <td>{{time}}</td>
            <td>{{temp}}°C</td>
            <td>{{fanspd}}</td>
        </tr>
        {{/each}}
        {{/if}}
    </table>
</div>

<script>

    function changeaircon() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("ac1");
        currentac.innerHTML = newac.innerHTML;
    }

    function changeaircon2() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("ac2");
        currentac.innerHTML = newac.innerHTML;
    }
    
    function changeaircon3() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("ac3");
        currentac.innerHTML = newac.innerHTML;
    }
    
    function changeaircon4() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("ac4");
        currentac.innerHTML = newac.innerHTML;
    }
    
    function changeaircon5() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("ac5");
        currentac.innerHTML = newac.innerHTML;
    }

</script>