<link rel="stylesheet" href="/css/aircon.css">

<div id="all">
    <h1>
        All Control
        <label class="switch" id="switch2">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </h1>
</div>

<div id="aclist">
    <input type="text" id="aircon1" onclick="changeaircon()" value="Aircon #1" readonly>
    <input type="text" id="aircon2" onclick="changeaircon2()" value="Aircon #2" readonly>
    <input type="text" id="aircon3" onclick="changeaircon3()" value="Aircon #3" readonly>
    <input type="text" id="aircon4" onclick="changeaircon4()" value="Aircon #4" readonly>
    <input type="text" id="aircon5" onclick="changeaircon5()" value="Aircon #5" readonly>
</div>

<div>
    <form action="/aircon/achistory" method="GET">
        <input type="submit" id="history" value="History Logs" />
    </form>
</div>

<div>
    <input type="image" onclick="changename()" id="rename" src="../css/quill.png" width="70" height="90">
</div>

<div id="temperature">
    <h3 id="temp">Temperature °C</h3>
    <input type="image" onclick="incrementValue()" id="up" src="../css/up_button.png" width="70" height="90">
    <input type="image" onclick="decrementValue()" id="down" src="../css/down_button.png" width="70" height="90">
</div>

{{!-- Form to post values into database --}}
<form action="/aircon/aircon" method="post" id="aircon">
    <div>
        <input type="text" id="current" name="currentAC" value="{{DataInfo.airconname}}" readonly>
        <label class="switch" id="switch1">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

    <div>
        <input type="text" id="number" name="tempValue" value="{{DataInfo.temp}}" readonly>

        <div id="fanspeed">
            <h4 id="fan">Fan Speed</h4>
            <input type="radio" name="speed" id="highradio" value="High"> <br>
            <input type="radio" name="speed" id="mediumradio" value="Medium" checked="true"> <br>
            <input type="radio" name="speed" id="lowradio" value="Low"> <br>
            <h4 id="high">High</h4>
            <h4 id="med">Medium</h4>
            <h4 id="low">Low</h4>
        </div>
    </div>

    <button type="submit" id="submitbutton" onclick="submitValues()">Submit</button>
</form>

<script>
    function submitValues() {
        alert("Submitted Changes");
    }

    function incrementValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number').value = value;
        if (value > 30) value = 30;
            document.getElementById('number').value = value;
        if (value < 16) value = 16;
            document.getElementById('number').value = value;

        const req = new XMLHttpRequest();
        req.open("POST", "/aircon/updateValue");
        req.setRequestHeader("Content-Type", "application/json");
        req.send(JSON.stringify({"value": value}));
    }

    function decrementValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value--;
        if (value < 16) value = 16;
            document.getElementById('number').value = value;
        if (value > 30) value = 30;
            document.getElementById('number').value = value;
    }

    function changename() {
        var newname = prompt("What do you want to change the name to?", "Aircon #1");
        document.getElementById("current").value = newname;
    }

    function changeaircon() {
        var newac = document.getElementById("aircon1").value;
        document.getElementById("current").value = newac;
    }

    function changeaircon2() {
        var newac = document.getElementById("aircon2").value;
        document.getElementById("current").value = newac;
    }
    
    function changeaircon3() {
        var newac = document.getElementById("aircon3").value;
        document.getElementById("current").value = newac;
    }
    
    function changeaircon4() {
        var newac = document.getElementById("aircon4").value;
        document.getElementById("current").value = newac;
    }
    
    function changeaircon5() {
        var newac = document.getElementById("aircon5").value;
        document.getElementById("current").value = newac;
    }    
</script>