<link rel="stylesheet" href="/css/aircon.css">

<div id="add">
    <input type="text" name="addaircon" value="Aircon #"></input>
    <button onclick="addmoreaircon()">Add</button>
</div>

<div id="all">
    <h1>
        All Control
        <label class="switch" id="switch2">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </h1>
</div>

<div id="aclist">
    <h1 id="aircon1" onclick="changeaircon()">
        Aircon #1
    </h1>
    <h1 id="aircon2" onclick="changeaircon2()">
        Aircon #2
    </h1>
    <h1 id="aircon3" onclick="changeaircon3()">
        Aircon #3
    </h1>
    <h1 id="aircon4" onclick="changeaircon4()">
        Aircon #4
    </h1>
    <h1 id="aircon5" onclick="changeaircon5()">
        Aircon #5
    </h1>
</div>

<div>
    <form action="/aircon/achistory" method="GET">
        <input type="submit" id="history" value="History Logs" />
    </form>
</div>

<div>
    <h2 id="current">Aircon #1</h2>
    <label class="switch" id="switch1">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>

<div>
    <input type="image" onclick="changename()" id="rename" src="../css/quill.png" width="70" height="90">
</div>

<div>
    <button id="delete" onclick="deleteAC()">Delete</button>
</div>

<div>
    <div id="temperature">
        <h3 id="temp">Temperature °C</h3>
        <input type="image" onclick="incrementValue()" id="up" src="../css/up_button.png" width="70" height="90">
        <input type="text" id="number" value="25">
        <input type="image" onclick="decrementValue()" id="down" src="../css/down_button.png" width="70" height="90">
    </div>
    <div id="fanspeed" value="fanspd">
        <h4 id="fan">Fan Speed</h4>
        <input type="radio" name="speed" id="highradio" value="high"> <br>
        <input type="radio" name="speed" id="mediumradio" value="medium" checked="true"> <br>
        <input type="radio" name="speed" id="lowradio" value="low"> <br>
        <h4 id="high">High</h4>
        <h4 id="med">Medium</h4>
        <h4 id="low">Low</h4>
    </div>
</div>

<form action="/aircon/aircon" method="post" id="aircon">
    <button type="submit" id="submitbutton">Submit</button>
</form>

<script>
    function addmoreaircon() {
        var header = document.createElement("header");
        var h1 = document.createElement("h1");
        newtext = document.getElementById("addaircon").value;
        h1.textContent = newtext;
        header.appendChild(h1);
        document.body.appendChild(header);
    }

    function incrementValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number').value = value;
        if (value > 30) value = 30;
            document.getElementById('number').value = value;
        if (value < 16) value = 16;
            document.getElementById('number').value = value;

        const req = new XMLHttpRequest();
        req.open("POST", "/aircon/updateValue");
        req.setRequestHeader("Content-Type", "application/json");
        req.send(JSON.stringify({"value": value}));
    }

    function decrementValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value--;
        if (value < 16) value = 16;
            document.getElementById('number').value = value;
        if (value > 30) value = 30;
            document.getElementById('number').value = value;
    }

    function changename() {
        var newname = prompt("What do you want to change the name to?", "Aircon #1");
        current.innerText = newname;
    }

    function changeaircon() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("aircon1");
        currentac.innerHTML = newac.innerHTML;
    }

    function changeaircon2() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("aircon2");
        currentac.innerHTML = newac.innerHTML;
    }
    
    function changeaircon3() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("aircon3");
        currentac.innerHTML = newac.innerHTML;
    }
    
    function changeaircon4() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("aircon4");
        currentac.innerHTML = newac.innerHTML;
    }
    
    function changeaircon5() {
        var currentac = document.getElementById("current");
        var newac = document.getElementById("aircon5");
        currentac.innerHTML = newac.innerHTML;
    }    
</script>