<link rel="stylesheet" href="css/cControl.css">
<script>
    function showPicture(img) {
        document.getElementById("SelectedPosition").src = img;
    }
    function submitPreset() {
        alert("Submitted Sets");
    }
</script>

<body>
    <form action="/curtainControl" method="POST">
        <div class="container">
            <div class="col">
                <img id="SelectedPosition" src="../css/half.png" />
            </div>
            <div id="left">
                <label id="left2">LEFT</label>
                <div class="form-check">
                    <select class="form-check-input" id="leftform" name="Left">
                        <option value="1" id="1">1</option>
                        <option value="2" id="2">2</option>
                        <option value="3" id="3">3</option>
                        <option value="4" id="4">4</option>
                        <option value="5" id="5">5</option>
                        <option value="6" id="6">6</option>
                        <option value="7" id="7">7</option>
                        <option value="8" id="8">8</option>
                        <option value="9" id="9">9</option>
                        <option value="10" id="10">10</option>
                    </select>
                </div>
            </div>
            <div id="right">
                <label id="right2">RIGHT</label>
                <div class="form-check">
                    <select class="form-check-input" id="rightform" name="Right">
                        <option value="1" id="1">1</option>
                        <option value="2" id="2">2</option>
                        <option value="3" id="3">3</option>
                        <option value="4" id="4">4</option>
                        <option value="5" id="5">5</option>
                        <option value="6" id="6">6</option>
                        <option value="7" id="7">7</option>
                        <option value="8" id="8">8</option>
                        <option value="9" id="9">9</option>
                        <option value="10" id="10">10</option>
                    </select>
                </div>
            </div>
            <div id="box">
                <ul>
                    <div id="open">
                        <input type="radio" name="preset" value="open"><img src="../css/open.png"
                            onclick="showPicture(this.src)">
                        </input>
                    </div>
                    <div id="half">
                        <input type="radio" name="preset" value="open"><img src="../css/half.png"
                            onclick="showPicture(this.src)">
                        </input>
                    </div>
                    <div id="covered">
                        <input type="radio" name="preset" value="covered"><img src="../css/covered.png"
                            onclick="showPicture(this.src)">
                        </input>
                    </div>
                </ul>
            </div>
            <button type="submit" id="setCurtain" formaction="/cControl">Set</button>
            {{!-- <button type="submit" id="submitbutton" onclick="submitPreset()">Set</button> --}}

        </div>
    </form>
    <div>
        <form action="/cControl" method="GET">
            <input type="submit" id="hist" value="Preset History">
        </form>
    </div>
</body>