<link rel="stylesheet" href="css/curtain.css">
<script>
    function showPicture(theImg) {
        document.getElementById("SelectedPosition").src=
    }
</script>
<h1>Curtain Controls</h1>
<img id="SelectedPosition" src="../css/half.png"/>
<div id="box">
    <ul>
        <button><img src="../css/open.png" onclick="showPicture(this) ;"/> </button>
        <button><img src="../css/half.png" onclick="showPicture(this) ;"/> </button>
        <button><img src="../css/covered.png" onclick="showPicture(this) ;"/> </button>
    </ul>
</div>