<link rel="stylesheet" href="css/home.css">
<body>
    <div class="home_buttons_groups">
        <div class="home_button">
            <a href="/aircon"><button type="button" id="airCon"><img src="../css/aircon.png" width="150" height="150"></button></a>
        </div>

        <div class="home_button">
            <a href="/cctv"><button type="button" id="cctv"><img src="../css/cctv.png" width="150" height="150"></button></a>
        </div>

        <div class="home_button">
            <a href="/curtain"><button type="button" id="curtain"><img src="../css/curtain.png" width="150" height="150"></button></a>
        </div>

        <div class="home_button">
            <a href="/Lightss"><button type="button" id="lights"><img src="../css/light.png" width="150" height="150"></button></a>
        </div>
    </div>
</body>
