<link rel="stylesheet" href="css/MainLight.css">


<h1>Lights Page</h1>
<body>
<div class="container">
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 1</p>
  </div>
	<div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 2</p>
  </div>
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 3</p>
  </div>
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 4</p>
  </div>
</div>

<form action="../Lights" method="post">
<input type="submit" class="button1">ON</button>
</form>


<button type="button" class="button2" onclick="Savetime()">OFF</button>

<button type="button" class="button3">ON</button>
<button type="button" class="button4">OFF</button>

<button type="button" class="button5">ON</button>
<button type="button" class="button6">OFF</button>

<button type="button" class="button7">ON</button>
<button type="button" class="button8">OFF</button>


<div class="slidecontainer">
  <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
  <p id="d">Value: <span id="demo"></span></p>
</div>

<div class="slidecontainer1">
  <input type="range" min="1" max="100" value="0" class="slider1" id="myRange1">
  <p id="d1">Value: <span id="demo1"></span></p>
</div>


<div class="slidecontainer2">
  <input type="range" min="1" max="100" value="0" class="slider2" id="myRange2">
  <p>Value: <span id="demo2"></span></p>
</div>


<div class="slidecontainer3">
  <input type="range" min="1" max="100" value="0" class="slider3" id="myRange3">
  <p>Value: <span id="demo3"></span></p>

</div>






</body>
