<link rel="stylesheet" href="css/MainLight.css">


<h1>Lights Page</h1>
<body>
<div class="container">
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 1</p>
  </div>
	<div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 2</p>
  </div>
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 3</p>
  </div>
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 4</p>
  </div>
</div>

<form action = "/Light2/Lights" method="POST">

<button  type="submit" id="newLight" >Add new light</button>
</form>


<div class="slidecontainer" >
  <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
  <p id="d">Value: <span id="demo"></span></p>
</div>


{{#each Lights }}

<div class="slidecontainer1">
  <input type="range" min="1" max="100" value="0" class="slider1" id="myRange1">
  <p id="d1">Value: <span id="demo1"></span>{{Light_number}} </p>
</div>
   
   
{{/each}}









</body>
