<html>
<head>
<link rel="stylesheet" type="text/css" href="css/cctv.css">
</head>
<body>
<a id="CCTVControls" href="/cctv">
    CCTV Controls
</a>
<p id="SecurityCameras">
    Security Cameras
</p>
<div id=SecurityCameras>
    <div>
        Security Camera #1
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        Security Camera #2
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        Security Camera #3
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        Security Camera #4
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        Security Camera #5
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<br>
<br>
<p id="Videos">
    Video Options
</p>
<br>
<br>
<br>
<br>
<a id="ViewVideos" href="/viewVideos">
    View available videos
</a>
<a id="DeleteVideos" href="/deleteVideos">
    Delete videos
</a>
</body>
</html>