<html>
<head>
<link rel="stylesheet" type="text/css" href="css/cctv.css">
</head>
<body>
<a id="CCTVControls" href="/cctv">
    CCTV Controls
</a>
<p id="UploadVideos">
    {{name}}
</p>
<div class="row">
    <form action="cctv1.handlebars" method="POST">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label id="cameraName">Camera Name</label>
            <input type="text" name="name">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label class="switch">
                    <input type="checkbox" name="state" value="OFF">
                    <span class="slider round"></span>
            </label>
        </div>
        <button type="submit" id="saveData"></button>
    </form>
</div>
</body>    
</html>