<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/cctv.css">
</head>
<body>
<a id="CCTVControls" href="/cctv">
    CCTV Controls
</a>
<p id="SecurityCameras">
    Security Cameras
</p>
<a href="/cctvAdd" id="AddCamera">
    Add new camera    
</a>
<br>
<br>
{{#if cameras}}
<div id="SecurityCameras">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12"> 
            {{#each cameras}}
            <div>
                <span>{{name}}</span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{else}}
<p id="NoCameras">
    No cameras added
</p>
{{/if}}
<br>
<br>
<p id="Videos">
    Video Options
</p>
<br>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <a id="ViewVideos" href="/viewVideos">
            View available videos
        </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <a id="UploadVideos" href="/uploadFile">
            Upload Videos
        </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">    
        <a id="DeleteVideos" href="/deleteVideos">
            Delete videos
        </a>
    </div>
</div>
</body>
</html>