<html>
<head>
<link rel="stylesheet" type="text/css" href="css/cctv.css">
<script>
    function addCamera() {
        var camera = document.createElement("div");
        camera.innerHTML = "test";
        var div = document.getElementById('div#SecurityCameras')
        document.div.appendChild(camera);
    }

    function renameCamera(camera) {
        var newName = prompt("Please enter camera name.");
        if (newName == null) {
            alert("Action cancelled.");   
        } 
        else{
            camera.innerHTML = newName;
        }
    }
</script>
</head>
<body>
<a id="CCTVControls" href="/cctv">
    CCTV Controls
</a>
<p id="SecurityCameras">
    Security Cameras
</p>
<p id="AddCamera" onclick="addCamera()">
    Add camera
</p>
<div id="SecurityCameras">
    <div>
        <span onclick="renameCamera(this)">Security Camera #1</span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <span onclick="renameCamera(this)">Security Camera #2</span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <span onclick="renameCamera(this)">Security Camera #3</span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <span onclick="renameCamera(this)">Security Camera #4</span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <span onclick="renameCamera(this)">Security Camera #5</span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<br>
<br>
<p id="Videos">
    Video Options
</p>
<br>
<br>
<br>
<br>
<a id="ViewVideos" href="/viewVideos">
    View available videos
</a>
<a id="DeleteVideos" href="/deleteVideos">
    Delete videos
</a>
</body>
</html>