<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/cctv.css">
</head>
<body>
<a id="CCTVControls" href="/cctv/cctv">
    CCTV Controls
</a>
<p id="UploadVideos">
    Edit Camera
</p>
<form action="/cctv/savecctvEdit/{{cameras.id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label id="cameraName" style="font-size: 25px">Camera Name:</label>
            <input type="text" name="name" style="font-size: 25px" value="{{cameras.name}}"> 
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label id="cameraName" style="font-size: 25px">Power:</label>
            <div>
                <input type="radio" name="state" value="ON" style="width: 15px; height:15px">
                <label for="ON" style="color: lime; font-size: 25px">ON</label>
            </div>
            <div>
                <input type="radio" name="state" value="OFF" style="width: 15px; height:15px" checked>
                <label for="OFF" style="color: red; font-size: 25px">OFF</label>
                </label>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <button type="submit" id="saveData">Save Changes</button>
    </div>
</form>
</body>    
</html>