<html>
<head>
<link rel="stylesheet" type="text/css" href="css/cctv.css">
</head>
<body>
<a id="CCTVControls" href="/cctv">
    CCTV Controls
</a>
<p id="ViewVideos">
    View Videos
</p>
<video width="1280" height="720" controls>
    <source src="http://localhost:5000/video" type="video/mp4">
</video>
</body>
</html>