<html>
<head>
<link rel="stylesheet" type="text/css" href="css/cctv.css">
</head>
<body>
<a id="CCTVControls" href="/cctv">
    CCTV Controls
</a>
<p id="ViewVideos">
    View Videos
</p>
<div id="SecurityCameras">
    <div id="SecurityCamera1">
        SecCamera#1-20190214.mp4
        <a href="#" class="viewButton" onclick="">
            View
        </a>
    </div>
    <div id="SecurityCamera2">
        SecCamera#2-20190313.mp4
        <a href="#" class="viewButton" onclick="">
            View
        </a>
    </div>
    <div id="SecurityCamera3">
        SecCamera#3-20190803.mp4
        <a href="#" class="viewButton" onclick="">
            View
        </a>
    </div>
</div>
</body>
</html>